In [41]:
data <- read.csv("d:\\alldata\\kyphosis.csv")

In [44]:
str(data)

'data.frame':	81 obs. of  4 variables:
 $ Kyphosis: Factor w/ 2 levels "absent","present": 1 1 2 1 1 1 1 1 1 2 ...
 $ Age     : int  71 158 128 2 1 1 61 37 113 59 ...
 $ Number  : int  3 3 4 5 4 2 2 3 2 6 ...
 $ Start   : int  5 14 5 1 15 16 17 16 16 12 ...

In [42]:
data$Kyphosis <- as.factor(data$Kyphosis)

In [43]:
head(data)

  Kyphosis Age Number Start
1 absent    71 3       5
2 absent   158 3      14
3 present  128 4       5
4 absent     2 5       1
5 absent     1 4      15
6 absent     1 2      16

In [4]:
library(caTools)

Warning message:
"package 'caTools' was built under R version 4.0.5"

In [45]:
splits <- sample.split(data$Kyphosis,SplitRatio=0.7)

In [46]:
train <- subset(data,splits==TRUE)
test <- subset(data,splits==FALSE)

In [47]:
model <- glm(Kyphosis~.,data=data,family = "binomial")

In [48]:
model

Call:  glm(formula = Kyphosis ~ ., family = "binomial", data = data)

Coefficients:
(Intercept)          Age       Number        Start
   -2.03693      0.01093      0.41060     -0.20651

Degrees of Freedom: 80 Total (i.e. Null);  77 Residual
Null Deviance:	    83.23
Residual Deviance: 61.38 	AIC: 69.38

In [17]:
dim(train)

[1] 57  4

In [52]:
tail(test)

   Kyphosis Age Number Start
68 absent   159 4      13
69 absent    18 4      11
74 absent   206 4      10
75 absent    11 3      15
76 absent   178 4      15
79 absent   120 2      13

In [49]:
predictions <- predict(model,test)

In [53]:
labels<-ifelse(predictions>0.5,"present","absent")

In [57]:
mean(test$Kyphosis==labels)

[1] 0.7916667